<div class="bg-colored-img">
    <nav class="navbar navbar-light bg-primary text-secondary">
        <div class="container-fluid">
            <h5 class="p-3">Hola {{user.displayName}}</h5>
            <div class="dropdown">
                <img width="60px" class="rounded-circle border border-2 border-secondary profile-img mx-5" data-bs-toggle="dropdown" aria-expanded="false" src="{{user.photoURL}}" alt="User profile image">
                <ul class="dropdown-menu bg-glass mt-2" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item text-secondary">Perfil</a></li>
                    <li><a class="dropdown-item text-danger" (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card bg-glass py-2">
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="container text-center py-3">
                                <button (click)="createLink()" class="btn btn-primary big-btn w-100 py-3 shadow-sm"><i class="bi bi-plus-circle mx-2 align-middle"></i>Añadir nuevo enlace</button>
                            </div>


                            <!-- ?????? -->
                            <div class="container" formArrayName="linksForm">
                                <div *ngFor="let item of linksForm.controls; let i=index">
                                    <div class="card mb-4 shadow-sm" [formGroupName]="i">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-8">
                                                    <div class="form-floating mb-3">
                                                        <input formControlName="" type="text" class="form-control" id="floatingInput" placeholder="placeholder">
                                                        <label for="floatingInput "><i class="bi bi-pencil text-muted mx-2 "></i></label>
                                                    </div>
                                                </div>
                                                <div class="col-4 ">
                                                    <div class="form-check form-switch">
                                                        <input checked formControlName="" class="form-check-input position-absolute top-0 end-0 m-3" type="checkbox" id="flexSwitchCheckDefault">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row ">
                                                <div class="col-8 ">
                                                    <div class="form-floating ">
                                                        <input formControlName="" type="url " class="form-control " id="floatingPassword " placeholder="Enlace ">
                                                        <label for="floatingPassword "> <i class="bi bi-pencil text-muted mx-2 "></i></label>
                                                    </div>
                                                </div>
                                                <div class="col-4 ">
                                                    <div class="container ">
                                                        <i class="bi bi-trash position-absolute bottom-0 end-0 m-3 text-muted "></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!--Vista previa de los enlace (añadir movil)-->
            <div class="col-lg-4">
                <div class="card mb-3" *ngFor="let link of userLinks">
                    <div class="card-body text-center">
                        <h5>
                            {{link.label}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--(focusout)="updateLink(item.id)-->